  <h1>Liste de Pokemons</h1>
  <!-- interpolation de la classe du composant vers le template  -->
  <input 
  #input
  (keyup.enter)="selectPokemon(input.value)"
  type='number'
  />
   <!-- équivalent à <p (click)="selectPokemon(pokemonList[0])">{{pokemonList[0].name}}</p> -->
 
    <p *ngIf='pokemonSelected'>Vous avez sélectionné : {{pokemonSelected?.name}}</p>         
    <p *ngIf='!pokemonSelected'>Aucun pokémon n'a été trouvé...  😢</p>  
    <!-- directive structurelle *ngIf        -->
    <p *ngFor='let pokemon of pokemonList' >
    {{pokemon.name}}
    </p>
  