  <div class='blue m0'>
    <h1 class='center white-text'>Liste de Pokemons</h1>

  <!-- <input 
  #input
  (keyup.enter)="selectPokemon(input.value)"
  type='number'
  class='white width'
  /> -->
   <!-- équivalent à <p (click)="selectPokemon(pokemonList[0])">{{pokemonList[0].name}}</p> -->
<!--  
    <p *ngIf='pokemonSelected'>Vous avez sélectionné : {{pokemonSelected.name}}</p>         
    <p *ngIf='!pokemonSelected'>Aucun pokémon n'a été trouvé...  😢</p>  
    </div> -->
    <!-- directive structurelle *ngIf   -->
  <!-- interpolation de la classe du composant vers le template  -->
   <div class=' #e53935 red darken-1'>
  <div class="container">
    <div class="row">
    <div *ngFor='let pokemon of pokemonList' class='col m4 s6' >
        <div class="card" (click)="selectPokemon" pkmBorderCard>
        <div class="card-image">
          <img src={{pokemon.picture}}>
        </div>
        <div class='card-content'>
 <h3 class="card-title black-text">{{pokemon.name}}</h3>
        <p class='bold'>{{pokemon.types}}</p>
          <p><small>{{pokemon.created}}</small></p>
        </div>
        <div class="card-action">
          <a href="#">Capturer</a>
        </div>
        </div>
      </div>
      </div>
    </div>


    </div>

     
        

      


    